@import "tailwindcss";

@theme {
  --color-background: theme(colors.gray.50);
  --color-foreground: theme(colors.gray.900);

  --color-background-dark: theme(colors.gray.900);
  --color-foreground-dark: theme(colors.gray.100);
}

html {
  @apply transition-colors duration-300;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

html.dark body {
  background-color: var(--color-background-dark);
  color: var(--color-foreground-dark);
}
